.Teams_Section {
  width: 100vw;
  height: 505px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #18191d;
}

a {
  cursor: pointer;
}

.Title {
  font-size: 50px;
}

.Teams_List {
  display: flex;
  justify-content: space-between;
  height: 200px;
  margin-top: 40px;
  column-gap: 20px;
}

.Team_box {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;
}

.Teams_Images {
  width: 200px;
  height: 150px;
  border-radius: 16px;
  border: none;
  background-size: cover;
}

.Teams_Images:hover {
  border: 3px solid #18191d;
  box-shadow: 0px 0px 0px 2px #248aff;
}

.t1 {
  background-image: url('./Team1.jpg');
  background-position-x: -13px;
}

.t2 {
  background-image: url('./Team2.jpg');
  background-position-x: -4px;
}

.t3 {
  background-image: url('./Team3.jpg');
  background-position-x: -13px;
}

.Teams_Descriptions {
  font-family: 'Spline Sans', 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  margin-top: 12px;
}

.All_Teams {
  font-size: 16px;
  height: 41px;
  border-style: solid;
  background-color: hsla(0,0%,100%,.05);
  border-color: hsla(0,0%,100%,.05);
  color: hsla(0,0%,100%,.4);
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 21px;
  font-family: "Spline Sans", system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  position: absolute;
  bottom: -450px;
  transition: .5s;
}

.All_Teams:hover {
  color: white;
  cursor: pointer;
}